<div>
    <h2 id="page-heading">
        <span jhiTranslate="cwcrm2App.actionType.home.title">Action Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-action-type" [routerLink]="['/action-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cwcrm2App.actionType.home.createLabel">
            Create new Action Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="actionTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cwcrm2App.actionType.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let actionType of actionTypes ;trackBy: trackId">
                <td><a [routerLink]="['/action-type', actionType.id, 'view' ]">{{actionType.id}}</a></td>
                <td>{{actionType.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/action-type', actionType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/action-type', actionType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'action-type/'+ actionType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
