<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-extended-user-heading" jhiTranslate="cwcrm2App.extendedUser.home.createOrEditLabel">Create or edit a Extended User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!extendedUser.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="extendedUser.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.extendedUser.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" [(ngModel)]="extendedUser.departmentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.extendedUser.employeeType" for="field_employeeType">Employee Type</label>
                    <select class="form-control" id="field_employeeType" name="employeeType" [(ngModel)]="extendedUser.employeeTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeTypeOption.id" *ngFor="let employeeTypeOption of employeetypes; trackBy: trackEmployeeTypeById">{{employeeTypeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.extendedUser.employeeSubType" for="field_employeeSubType">Employee Sub Type</label>
                    <select class="form-control" id="field_employeeSubType" name="employeeSubType" [(ngModel)]="extendedUser.employeeSubTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeSubTypeOption.id" *ngFor="let employeeSubTypeOption of employeesubtypes; trackBy: trackEmployeeSubTypeById">{{employeeSubTypeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.extendedUser.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="extendedUser.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
