<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-alt-contact-heading" jhiTranslate="cwcrm2App.altContact.home.createOrEditLabel">Create or edit a Alt Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!altContact.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="altContact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.altContact.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="altContact.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.altContact.relationship" for="field_relationship">Relationship</label>
                    <input type="text" class="form-control" name="relationship" id="field_relationship"
                        [(ngModel)]="altContact.relationship" required/>
                    <div [hidden]="!(editForm.controls.relationship?.dirty && editForm.controls.relationship?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.relationship?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.altContact.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="altContact.phone" [textMask]="{mask: phoneMask}" required/>
                    <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.altContact.notes" for="field_notes">Notes</label>
                    <textarea class="form-control" name="notes" id="field_notes"
                        [(ngModel)]="altContact.notes" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.altContact.participant" for="field_participant">Participant</label>
                    <select class="form-control" id="field_participant" name="participant" [(ngModel)]="altContact.participantId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="participantOption.id" *ngFor="let participantOption of participants; trackBy: trackParticipantById">{{participantOption.firstName}} {{participantOption.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrm2App.altContact.createdBy" for="field_createdBy">Created By</label>
                    <select class="form-control" id="field_createdBy" name="createdBy" [(ngModel)]="altContact.createdById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}} {{userOption.lastName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
