<div>
    <h2 id="page-heading">
        <span jhiTranslate="cwcrm2App.action.home.title">Actions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-action" [routerLink]="['./new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="cwcrm2App.action.home.createLabel">
            Create new Action
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="actions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cwcrm2App.action.dueDate">Due Date</span></th>
            <th><span jhiTranslate="cwcrm2App.action.startDateTime">Start Date Time</span></th>
            <th><span jhiTranslate="cwcrm2App.action.endDateTime">End Date Time</span></th>
            <th><span jhiTranslate="cwcrm2App.action.notes">Notes</span></th>
            <th><span jhiTranslate="cwcrm2App.action.participant">Participant</span></th>
            <th><span jhiTranslate="cwcrm2App.action.user">User</span></th>
            <th><span jhiTranslate="cwcrm2App.action.actionSubType">Action Sub Type</span></th>
            <th><span jhiTranslate="cwcrm2App.action.actionType">Action Type</span></th>
            <th><span jhiTranslate="cwcrm2App.action.actionStatus">Action Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let action of actions ;trackBy: trackId">
                <td><a [routerLink]="['/action', action.id, 'view' ]">{{action.id}}</a></td>
                <td>{{action.dueDate | date:'mediumDate'}}</td>
                <td>{{action.startDateTime | date:'medium'}}</td>
                <td>{{action.endDateTime | date:'medium'}}</td>
                <td>{{action.notes}}</td>
                <td>
                    <div *ngIf="action.participantId">
                        <a [routerLink]="['../participant', action.participantId , 'view' ]" >{{action.participantFirstName}}</a>
                    </div>
                </td>
                <td>
                    {{action.userLogin}}
                </td>
                <td>
                    <div *ngIf="action.actionSubTypeId">
                        <a [routerLink]="['../action-sub-type', action.actionSubTypeId , 'view' ]" >{{action.actionSubTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="action.actionTypeId">
                        <a [routerLink]="['../action-type', action.actionTypeId , 'view' ]" >{{action.actionTypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="action.actionStatusId">
                        <a [routerLink]="['../action-status', action.actionStatusId , 'view' ]" >{{action.actionStatusName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/action', action.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/action', action.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'action/'+ action.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
